.array-container {
  position: absolute;

  /* top: 100px; */
}

.array-bar {
  width: 2px;
  display: inline-block;
  margin: 0 1px;
}

.link1 {
  position: absolute;
  top: 10px;
}
.link1 {
  position: absolute;
  top: 150px;
}

.visualizepage {
  overflow: hidden;
}

.visualizecontainer {
  margin-left: 50px;
}
